.header-Style{
    margin-top: 0px;
    width: 100%;
    background-image: linear-gradient( #4646a7, #141442);
    color:white;
    text-align: center;
    padding: 30px 10px;
}
.title{
    color:#f3f38d;
    font-size: 45px;
}
